<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/cv">CV</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="/inquiries">Inquiries/Links</a>
    </nav>
    <hr>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <hr>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>